.right-panel {
    // border: 1px dashed rebeccapurple;
    padding: 4.5rem 0;
    // border: 1px dashed crimson;
    flex: 1 0 50%;

    max-height: 100vh;
    overflow: scroll;

    overflow-y: scroll;
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
        display: none; // Chrome, Safari, Edge
    }

    @media screen and (max-width: 1024px) {
        padding: 0rem 0;
        flex: 1 0 100%;

        overflow: none;
        max-height: fit-content;
    }
}

.section-title {
        text-transform: uppercase;
        font-size: .9rem;
        letter-spacing: 1.3px;
        font-weight: 600;
        font-family: var(--font-display);
        opacity: 1;
        margin: -0.5rem;
        opacity: 0;
        @media screen and (max-width: 1024px) {
            opacity: 1;
            margin: 3rem 0 1rem 0;
        }
}

.about {
    // border: 1px dashed crimson;
    width: 100%;

    margin-top: 0.5rem;
    margin-bottom: 7rem;
    font-size: .95rem;
    line-height: 1.5;
    letter-spacing: .5px;
    color: var(--col-text-2);
    text-align: left;

    &__paragraph {
        margin-bottom: 1rem;
    }

    &__highlight {
        font-weight: 600;
        // color: var(--col-accent, #64ffda); // tweak to match your palette
        color: var(--col-text-1);
    }
}

.experience-card {

    display: grid;
    grid-template-columns: 8rem 1fr;
    gap: .7rem;
    margin-bottom: 4rem;

    @media screen and (max-width: 1024px) {
        gap: 0rem;
        
    }


    &__dates {
        grid-column: 1 / 2;
        color: var(--col-text-2);
        text-transform: uppercase;
        font-size: .75rem;
        letter-spacing: 1.3px;
        font-weight: 500;
        display: flex;
        align-items: center;
        transform: translateY(2px);

        @media screen and (max-width: 1024px) {
            grid-column: 1 / 3;
            transform: translateY(0);
            
        }
    }

    &__title {
        grid-column: 2 / 3;
        font-size: 1.2rem;
        font-family: var(--font-display);

        @media screen and (max-width: 1024px) {
            grid-column: 1 / 3;
        }
    }

    &__description {
        grid-column: 2 / 3;
        font-size: .95rem;
        margin: .5rem 0;
        color: var(--col-text-2);
        line-height: 1.5;
        text-align: left;

        @media screen and (max-width: 1024px) {
            grid-column: 1 / 3;
        }
    }

        &__links {
            grid-column: 2 / 3;
            display: flex;
            gap: 2rem;
            text-decoration: none;
            margin-top: 1rem;

                    @media screen and (max-width: 1024px) {
            grid-column: 1 / 3;
            gap: 1.2rem;
    
        }
            

            a {
                align-items: center;
                display: flex;
                gap: 3px;
                font-family: var(--font-display);
                text-decoration: none  ;
                color: var(--col-text-3); 

                        &:hover {
                color: var(--col-text-1); 
            }
         
            }        
    
            svg {
                width: .9rem;
                height: .9rem;
                color: inherit;
                transform: translateY(2px);
    
            }
    
            span {
                color: inherit;           
                
            }
    
    
        }
    

    
    
        }