// -- Font Imports -----------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap" rel="stylesheet"');


// -- Root Variables ---------------------------------------------------
:root {
    --col-bg-1: #0f172a;
    --col-bg-2: #131a36;
    --col-text-1: #e5e7eb;
    --col-text-2: #a8b2d1;
    --col-text-3: #7effa6;

    --font-display: "Outfit", system-ui, sans-serif;
    --font-primary: "Inter", "Satoshi", system-ui, sans-serif;
}

// Global Resets -------------------------------------------------------
html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


// --Body & Typography -------------------------------------------------
body {
    background-color: var(--col-bg-1);
    color: var(--col-text-1);
    font-family: var(--font-primary);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
    font-family: var(--font-display);
}


// -- App Layout -------------------------------------------------------
.app {
    bottom: 0;
    min-height: 100vh;
    padding: 0 3rem;
    width: 100%;

    @media screen and (max-width: 1024px) {
        padding: 0 2rem;
    }

    @media screen and (max-width: 640px) {
        padding: 0 1.5rem;
    }

    &__layout {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 0 auto;
        max-width: 75rem;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
            width: 100%;
        }
    }
}
